{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "es5",
  "singleAttributePerLine": true,
  "printWidth": 100
}
