@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

.accommodation-type span {
  display: flex;
  padding: 5px 15px;
  border-radius: 6px;
  font-weight: bold;
  width: fit-content;
}

.house {
  background-color: lightcoral;
}

.apartment {
  background-color: lightgreen;
}

.room {
  background-color: lightblue;
}

.row-hover td:not(:last-of-type) {
  cursor: pointer;
}

.row-hover tr:hover {
  background-color: #ea580c40;
}

.leaflet-container {
  width: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
  z-index: 99;
}
.react-datepicker-popper {
  z-index: 99;
}

.dentist {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: auto;
}

.house {
  position: absolute;
  top: 0;
  right: 20%;
  width: 25%;
  height: auto;
}

.bus {
  position: absolute;
  bottom: 10%;
  right: 25%;
  width: 25%;
  height: auto;
}

.dental-welcome-wrapper {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
